* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

body {
    background-color: #8B0000; /* Vermelho escuro */
    color: #F5F5DC; /* Bege claro para contraste */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #4B0000; /* Vermelho mais escuro */
    color: #F5F5DC;
}

h1, h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.musicas, .videos {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

audio, video {
    margin: 10px;
    background-color: #4B0000;
    border: 2px solid #F5F5DC;
}
